* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  min-height: 100vh;
}

#linkeSeite {
  background-color: #ffccd5;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rechteSeite {
  background-color: #c9d6df;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form,
#rezeptUebersicht {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin-bottom: 50px;
  /* border: solid 1px red; */
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

input,
select,
button {
  padding: 5px;
  font-size: 1em;
}

#zutatenListe {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#rezeptUebersicht ul {
  list-style-type: none;
}

#rezeptUebersicht li {
  margin: 5px 0;
}

#thirdSection button {
  width: 300px;
  margin-top: 10px;
}

#ganzRechteSeite {
  width: 33.33%;
  background-color: #ffedcc;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
