* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

input,
select,
button {
  padding: 5px;
  font-size: 1em;
}

#zutatenListe {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#rezeptUebersicht,
h2 {
  margin-top: 20px;
}

#rezeptUebersicht h3 {
  margin-top: 10px;
}

#rezeptUebersicht ul {
  list-style-type: none;
}

#rezeptUebersicht li {
  margin: 5px 0;
}

#thirdSection {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

#essenPlaner h3 {
  margin-top: 10px;
}

#thirdSection button {
  width: 300px;
  margin-top: 10px;
}
